TrabARQSI/TrabARQSI/Service References/ShippingAll/ShippingAll.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:servicename" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:servicename" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:servicename">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="custoRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="x" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="custoResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="Pass" type="xsd:float" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="custo" type="tns:custoRequestType" />
      <xsd:element name="custoResponse" type="tns:custoResponseType" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="custoRequest">
    <wsdl:part name="parameters" element="tns:custo" />
  </wsdl:message>
  <wsdl:message name="custoResponse">
    <wsdl:part name="parameters" element="tns:custoResponse" />
  </wsdl:message>
  <wsdl:portType name="servicenamePortType">
    <wsdl:operation name="custo">
      <documentation>N/A</documentation>
      <wsdl:input message="tns:custoRequest" />
      <wsdl:output message="tns:custoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="servicenameBinding" type="tns:servicenamePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="custo">
      <soap:operation soapAction="http://uvm056.dei.isep.ipp.pt/~uvm056/ShippingAll.php#custo" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="urn:servicename" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="urn:servicename" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="servicename">
    <wsdl:port name="servicenamePort" binding="tns:servicenameBinding">
      <soap:address location="http://uvm056.dei.isep.ipp.pt/~uvm056/ShippingAll.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>