TrabARQSI/TrabARQSI/Service References/LogisticaSA/ServiceLogisticaSA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceLogisticaSA" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15791/ServiceLogisticaSA.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15791/ServiceLogisticaSA.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceLogisticaSA_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IServiceLogisticaSA_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLogisticaSA_custo_InputMessage">
    <wsdl:part name="parameters" element="tns:custo" />
  </wsdl:message>
  <wsdl:message name="IServiceLogisticaSA_custo_OutputMessage">
    <wsdl:part name="parameters" element="tns:custoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceLogisticaSA">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLogisticaSA/DoWork" message="tns:IServiceLogisticaSA_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLogisticaSA/DoWorkResponse" message="tns:IServiceLogisticaSA_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="custo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLogisticaSA/custo" message="tns:IServiceLogisticaSA_custo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLogisticaSA/custoResponse" message="tns:IServiceLogisticaSA_custo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceLogisticaSA" type="tns:IServiceLogisticaSA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IServiceLogisticaSA/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="custo">
      <soap:operation soapAction="http://tempuri.org/IServiceLogisticaSA/custo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceLogisticaSA">
    <wsdl:port name="BasicHttpBinding_IServiceLogisticaSA" binding="tns:BasicHttpBinding_IServiceLogisticaSA">
      <soap:address location="http://localhost:15791/ServiceLogisticaSA.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>